<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <style>
        /* 将背景图像设置为body的背景，并确保它不会覆盖其他内容 */
        body {
            background-image: url('/static/img/background1.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
<div id="intro">
    <div class="intro-header">
        <img class="intro-logo" src="/static/img/logo.png" alt=""/>
        <ul>
            <li>
                <a href="##">
                    <p>留言板</p>
                    <p class="p-size-12">Message board</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="intro-center">
        <div class="intro-center-box">
            <div class="intro-center-top">
            </div>
            <div class="intro-center-main">
                <!--歌曲-->
                <div class="intro-song1">
                    <div class="intro-song-img">
                        <img src="/static/img/反方向的钟.png" alt="">
                    </div>

                    <div class="actor-name">
                        <p>周杰伦</p>
                        <p class="actor-introduce">反方向的钟。</p>
                        <a href="##">
                            查看详情
                        </a>
                    </div>
                </div>

                <div class="intro-song2">
                    <div class="intro-song2-img">
                        <img src="/static/img/学不会.png" alt="">
                    </div>
                    <div class="actor-name">
                        <p>林俊杰</p>
                        <p class="actor-introduce">学不会。</p>
                        <a href="##">
                            查看详情
                        </a>
                    </div>
                </div>

                <div class="intro-song3">
                    <div class="intro-song3-img">
                        <img src="/static/img/说谎.png" alt="">
                    </div>
                    <div class="actor-name">
                        <p>林宥嘉</p>
                        <p class="actor-introduce">说谎。</p>
                        <a href="##">
                            查看详情
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-last1">
        <ul>
            <li><a href="##">联系我们</a></li>
            <li><p>版权所有©2023 jas</p></li>
            <li><p>感谢收听</p></li>
        </ul>
    </div>
</div>
</body>
</html>
